.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("../images/Home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}