/*body {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

.h1,
.h2 {
    color: #36005a;
}

.h1 {
    font-size: 1.8em;
}

.h2 {
    font-size: 1.5em;
}

.tdx {
    width: 50px;
    text-align: center;
    border: 1px solid #c6c6c6;
}

.sectionx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 5px;
    margin: 20px;
    box-shadow: 3px 3px 12px 0px #1e0032;
    background-color: #f8f8f8;
    color: black;
}

.inputx,
.selectx {
    border-radius: 5px;
    width: 280px;
    height: 30px;
    background-color: #fff;
    text-align: center;
    min-height: 40px;
}

.btnx {}

.inputx:hover,
.selectx:hover {
    background-color: #eee7ff;
    min-height: 40px;
}

.inputx:focus {
    background: #ebe4e4;
    padding: -10px;
}